/*Custom Theme Styles*/ 
body {
    background: #fff;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    color: #444;
    padding-top: 0;
}

a,
a:link,
a:visited {
    color: #4d92d5;
    font-weight: normal;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #888;
    text-decoration: none;
}

a:active {
    color: #444;
    text-decoration: none;
}

::selection {
    background: #444;
    color: #f5f5f5;
}

::-moz-selection {
    background: #444;
    color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", "Helvetica", "Arial", "Lucida Grande", "Verdana", "Gill Sans", sans-serif;
    font-weight: normal;
    color: #444;
    line-height: 1.5;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.1em;
}

h6 {
    font-size: 1em;
}

.theme .moodle-actionmenu a {
    color: #f04e29;
}

.moodle-actionmenu[data-enhanced].show .menu a:hover {
    color: #fff;
    background-color: #222;
}

button,
input.form-submit,
input[type="button"],
input[type="submit"],
input[type="reset"],
input.form-submit,
input#id_submitbutton,
input#id_submitbutton2,
.path-admin .buttons input[type="submit"],
td.submit input,
a.btn,
.btn-theme,
.custom-theme .deepsight_filter_generator {
    font-size: 1em;
    color: #fff;
    background: #4d92d5;
    text-shadow: none;
    font-weight: bold;
    border-color: rgba(0,0,0,.3);
}

button:hover,
button:focus,
input.form-submit:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input.form-submit:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input#id_submitbutton:hover,
input#id_submitbutton2:hover,
.path-admin .buttons input[type="submit"]:hover,
td.submit input:hover,
input#id_submitbutton:focus,
input#id_submitbutton2:focus,
.path-admin .buttons input[type="submit"]:focus,
td.submit input:focus,
a.btn:hover,
a.btn:focus,
.btn-theme:hover,
.btn-theme:focus,
.custom-theme .deepsight_filter_generator:hover,
.custom-theme .deepsight_filter_generator:focus {
    color: #fff;
    background: #f04e29;
    border-color: rgba(0,0,0,.3);
}

button:active,
input.form-submit:active,
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
input.form-submit:active,
input#id_submitbutton:active,
input#id_submitbutton2:active,
.path-admin .buttons input[type="submit"]:active,
td.submit input:active,
a.btn:active,
.btn-theme:active,
.custom-theme .deepsight_filter_generator:active {
    color: #fff;
    background: #444;
}

#notice .singlebutton+.singlebutton input,
.submit.buttons input[name="cancel"] {
    color: #fff;
    background: #444;
}

#notice .singlebutton+.singlebutton input:hover,
.submit.buttons input:hover[name="cancel"],
#notice .singlebutton+.singlebutton input:focus,
.submit.buttons input:focus[name="cancel"] {
    color: #f04e29;
    background: #222;
}

#notice .singlebutton+.singlebutton input:active,
.submit.buttons input:active[name="cancel"] {
    color: #f5f5f5;
    background: #111;
}

.singlebutton {
    text-align: center;
}

.container-fluid {
    padding: 0 5%;
}

#logo {
    padding: 1.5em 0;
    float: left;
    width: 500px;
}

#logo img {
    width: 100%;
}

.navbar {
    display: block;
}

.navbar-fixed-top {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 90%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(90%,#eeeeee));
    background: -webkit-linear-gradient(top, #ffffff 0%,#eeeeee 90%);
    background: -o-linear-gradient(top, #ffffff 0%,#eeeeee 90%);
    background: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 90%);
    background: linear-gradient(to bottom, #ffffff 0%,#eeeeee 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
    position: relative;
    border-bottom: 5px solid #f04e29;
}

.navbar-fixed-top .navbar-inner {
    min-height: 0;
    width: 100%;
    border: none;
    position: relative;
    background: #f04e29;
}

.navbar .nav > li > a {
    font-size: .9em;
    font-weight: 700;
    color: #fff;
    padding: .7em 1.3em;
    text-shadow: none;
    text-transform: uppercase;
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1);
       -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1);
            box-shadow: inset 1px 0 0 rgba(0,0,0,.1);
}

.navbar .nav > li > a:hover {
    color: #fff;
    background: #888;
}

.navbar .active .nav > li > a {
    text-shadow: none;
}

.navbar .nav-collapse.active {
    background-color: #222;
    border: none;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #F5F5F5;
    border-top-color: #F5F5F5;
}

.navbar .nav li.dropdown > a:hover .caret,
.navbar .nav li.dropdown > a:focus .caret {
    border-bottom-color: #f04e29;
    border-top-color: #f04e29;
}

.open>.dropdown-menu,
.langmenu.open>.dropdown-menu {
    overflow-y: visible !important;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #444;
    color: #fff;
    text-shadow: none;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-submenu:hover>a,
.dropdown-submenu:focus>a,
.block_tree li p.active_tree_node a,
.block_tree li p.active_tree_node a:hover {
    background-color: transparent;
    background-image: none;
    color: #f04e29;
}

.nav-collapse .dropdown-menu a:hover,
.nav-collapse .dropdown-menu a:focus {
    color: #fff;
    background: #4d92d5;
}

.dropdown-menu {
    padding: 13px;
    background: #444;
    border: none;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    margin: 0;
    width: auto;
}

.dropdown-menu > li > a {
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid rgba(255,255,255,.2);
}

.dropdown-menu > li:last-of-type a {
    border-bottom: none;
}

.navbar .nav > li > .dropdown-menu:before {
    display: none;
}

.navbar .nav li.dropdown.open>.dropdown-toggle .caret,
.navbar .nav li.dropdown.active>.dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active>.dropdown-toggle .caret {
    border-top-color: #f04e29;
    border-bottom-color: #f04e29;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
    color: #fff;
    background: #f04e29;
}

.navbar .nav>li>.dropdown-menu:after {
    position: absolute;
    top: -7px;
    left: 9px;
    display: none;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0,0,0,0.2);
    content: '';
}

.dropdown-submenu>.dropdown-menu {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
           border-radius: 0;
}

.navbar-text {
    line-height: 1.5;
}

.navbar .logininfo {
    float: right;
    font-size: 1em;
    margin-top: 2em;
}

.navbar .logininfo a {
    font-weight: bold;
}

.notloggedin #action-blocks {
    padding-top: 27px;
}
 
#action-blocks {
    display: block;
    background: #eee url([[pix:theme|bg]]) repeat 0 0;
    position: relative;
    padding: 1.5em 0;
}

#action-blocks .block {
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    border: 1px solid #ddd;
    margin: 0 0 1em 0;
}

#action-blocks .block_action {
    display: none;
}

#action-blocks h2 {
    font-weight: 300;
}

#action-blocks .block i {
    display: block;
    font-size: 2.5em;
    color: #444;
}

#action-blocks .content {
    text-align: left;
}

.pagelayout-frontpage #page-wrap {
    margin: 0;
}

.pagelayout-frontpage #page-wrap #maincontent {
    height: 0;
}

.pagelayout-frontpage #page-wrap #maincontent + br {
    display: none;
}

.pagelayout-frontpage #page-wrap .row-fluid [class*="span"] {
    min-height: 0;
}

#page-wrap {
    position: relative;
    margin: 1em 0 2em;
}

#page-content {
    width: auto;
    clear: both;
    background: transparent;
}

.empty-region-side-pre #region-main.span9 {
    width: 100%;
}

.breadcrumb-nav {
    margin-bottom: 0;
    padding-left: 1.5em;
    min-height: 2.5em;
}

.breadcrumb {
    text-shadow: none;
    padding: 0;
    background: transparent;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

.breadcrumb a,
.breadcrumb li,
.breadcrumb > li > .divider {
    text-shadow: none;
}

.breadcrumb-button {
    margin: 0;
}

.block {
    background-color: #fff;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    padding-top: 0;
    position: relative;
    overflow: visible;
    margin-bottom: 30px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    border: 1px solid #ddd;
}

.block .header .title h2 {
    font-family: "Oswald", "Helvetica", "Arial", "Lucida Grande", "Verdana", "Gill Sans", sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    color: #888;
    text-shadow: none;
    text-transform: uppercase;
    padding: .7em 0 .5em .5em;
    background: transparent;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    -webkit-border-top-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
            border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topright: 5px;
            border-top-right-radius: 5px;
    border-bottom: 1px solid #ddd;
}

.block .header .title h2:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-size: 1.4em;
    margin-right: .3em;
    text-shadow: none;
    content: "\f0c9";
    color: #f04e29;
}

.block .content {
    padding: 15px 14px 5px 14px;
}

#page-login-index #page-footer,
#page-login-index #page-footer2 {
    display: none;
}

.calendartable thead {
    font-size: 1.2em;
    text-transform: none;
    color: #fff;
    text-shadow: none;
    font-weight: bold;
    padding: 15px 0px 8px 13px;
    background: #444;
}

.maincalendar .calendarmonth th {
    border: none;
    height: 34px;
    vertical-align: middle;
}

.maincalendar .calendarmonth td {
    border: 1px solid #eee;
}

.calendartable .cell {
    background: #fff;
}

.branchbuttoncontainer {
    margin-top: 21px;
}

.moodle-dialogue-base .moodle-dialogue-wrap {
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
}

.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd,
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd.yui3-widget-hd {
    color: #fff;
    font-size: 1em;
    padding: 13px 0;
    background-image: none;
    background: #222;
    text-shadow: none !important;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
}

.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd h1,
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd h2,
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd h3,
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd h4,
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd h5,
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd h6,
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd a,
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd.yui3-widget-hd a {
    color: #fff;
}

table#form td.submit,
.form-buttons,
.path-admin .buttons,
#fitem_id_submitbutton,
.fp-content-center form+div,
div.backup-section+form,
#fgroup_id_buttonar,
#fitem_actionbuttons {
    background: transparent;
    border: none;
}

.course_category_tree .category > .info {
    border: 1px solid #ddd;
    background-color: #fff;
}

.courses .coursebox.collapsed {
    border: 1px solid #ddd;
    margin-bottom: 2px;
}

.courses .coursebox:hover {
    background: #fff;
}

.coursebox {
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

.courses .coursebox.even {
    background-color: #fff;
}

.course-content .section .activity .activityinstance {
    padding-right: 0px;
}

.coursebox>.info>.name,
.coursebox .content .teachers,
.coursebox .content .courseimage,
.coursebox .content .coursefile {
    width: 100%;
}

.coursebox .content .summary,
.coursebox .content .coursecat {
    float: none;
    width: 95%;
    padding-left: 13px;
}

.onetopic ul.nav-tabs li a {
    color: #fff;
    background: #444;
    margin-right: 3px;
    -webkit-border-top-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
            border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topright: 5px;
            border-top-right-radius: 5px;
    border: none;
}

.onetopic .nav-tabs > .active > a,
.onetopic .nav-tabs > .active > a:hover,
.onetopic .nav-tabs > .active > a:focus {
    color: #fff;
    background: #f04e29;
    border: none;
}

.onetopic .nav-tabs>li>a:hover,
.onetopic .nav-tabs>li>a:focus {
    background: #222;
    border: none;
}

.onetopic font.marker {
    font-style: normal;
}

.path-course-view .section .summary {
    line-height: inherit;
}

#page-mod-quiz-edit .questionbankwindow.block div.header {
    padding: 0;
}

#fitem_id_submitbutton {
    background: transparent;
    border: none;
}

.course-content .current {
    background-color: transparent;
}

.path-mod-lesson .menu .menuwrapper {
    max-height: 100%;
}

.course-content ul li.section.main {
    border-bottom: none;
}

.eliswidget_enrolment .program > #childrenlist,
.eliswidget_trackenrol .track > #childrenlist {
    margin-left: 0 !important;
    padding: 0 !important;
}

.custom-theme .block_elisdashboard .content {
    text-align: left;
}

.custom-theme .block_elisdashboard .content .course {
    padding: .5em;
}

.custom-theme .block_elisdashboard .content .course:nth-of-type(odd) {
    background-color: #f5f5f5;
}

.custom-theme .block_elisdashboard .content .course:nth-of-type(even) {
    background-color: #eee;
}

.eliswidget {
    font-size: 1.2em !important;
    line-height: 1.4 !important;
}

.eliswidget_trackenrol .track > .details .item {
    line-height: 1.4;
}

.eliswidget h1,
.eliswidget h2,
.eliswidget h3,
.eliswidget h4,
.eliswidget h5,
.eliswidget h6 {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.custom-theme .eliswidget_enrolment .course.expanded,
.custom-theme .eliswidget_enrolment .courseset.expanded,
.custom-theme .eliswidget_enrolment .program.expanded,
.custom-theme .eliswidget_enrolment .course.expanded,
.custom-theme .eliswidget_enrolment .courseset.expanded,
.custom-theme .eliswidget_enrolment .program.expanded {
    outline: none;
    margin-bottom: 0;
}

.custom-theme .eliswidget button.elisicon-more,
.custom-theme .eliswidget button.elisicon-more:hover,
.custom-theme .eliswidget button.elisicon-more:active,
.custom-theme .eliswidget button.elisicon-more:focus {
    background: #fff;
    border: 1px solid #ddd;
    vertical-align: bottom;
}

.custom-theme .eliswidget_enrolment .course > .header,
.custom-theme .eliswidget_enrolment .courseset > .header,
.custom-theme .eliswidget_enrolment .program > .header,
.custom-theme .eliswidget_enrolment .course.expanded > .header,
.custom-theme .eliswidget_enrolment .courseset.expanded > .header,
.custom-theme .eliswidget_enrolment .program.expanded > .header {
    background: transparent;
}

.custom-theme .eliswidget_enrolment .course > .header > .title,
.custom-theme .eliswidget_enrolment .courseset > .header > .title,
.custom-theme .eliswidget_enrolment .program > .header > .title,
.custom-theme .eliswidget_enrolment .course > .header > .title:before,
.custom-theme .eliswidget_enrolment .courseset > .header > .title:before,
.custom-theme .eliswidget_enrolment .program > .header > .title:before,
.custom-theme .eliswidget_enrolment .program > .header:before {
    top: inherit;
}

.custom-theme .eliswidget_enrolment .course.expanded > .header,
.custom-theme .eliswidget_enrolment .courseset.expanded > .header,
.custom-theme .eliswidget_enrolment .program.expanded > .header {
    border-bottom: 1px solid #eee;
}

.custom-theme .eliswidget_enrolment .course > .header > .title,
.custom-theme .eliswidget_enrolment .courseset > .header > .title,
.custom-theme .eliswidget_enrolment .program > .header > .title {
    padding-left: 1.2em;
}

.custom-theme .eliswidget_enrolment .program > .header > h5,
.custom-theme .eliswidget_trackenrol .track > .details > h5 {
    font-size: 1em;
    margin: 0 0 .3em 0;
}

.custom-theme .eliswidget_enrolment .program > .header > h5 {
    margin-left: 1.1em;
}

.eliswidget_trackenrol .childrenlist .childrenlistheader > h6,
.eliswidget_enrolment .childrenlist .childrenlistheader > h6 {
    font-weight: bold;
    color: #777;
}

.custom-theme .eliswidget_enrolment .program > .details .item,
.custom-theme .eliswidget_trackenrol .track > .details .item {
    line-height: 1.4;
    margin-bottom: 0;
    font-size: 0.9em;
}

.custom-theme .eliswidget_enrolment .course > .header > small,
.custom-theme .eliswidget_enrolment .courseset > .header > small,
.custom-theme .eliswidget_enrolment .program > .header > small {
    padding: 0 0 0 1.4em;
}

#frontpage-category-combo,
#frontpage-category-names,
#frontpage-course-list,
#site-news-forum {
    padding-top: 25px;
}

#site-news-forum,
#frontpage-course-list,
#frontpage-category-combo,
#frontpage-category-names {
    background: #fff url([[pix:theme|dot]]) left top repeat-x;
}

#page-footer {
    border-top: 5px solid #f04e29;
    font-size: .9em;
    background: #333;
    text-align: left;
    margin: 0;
    color: #aaa;
}

#page-footer a {
    font-weight: bold;
    color: #ccc;
}

#page-footer a:hover,
#page-footer a:focus {
    color: #4d92d5;
}

#page-footer a:active {
    color: #f04e29;
}

#page-footer hr {
    border-top: none;
    border-bottom: none;
}

#page-footer ul,
#page-footer li {
    list-style: none;
}

#page-footer .block {
    margin-bottom: 0;
    background: transparent;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
    border: none;
}

#page-footer .block .content {
    border: none;
}

#page-footer .block .header .title h2 {
    background: transparent;
    color: #eee;
    border: none;
}

#page-footer .block_action {
    display: none;
}

#block-region-footer-one .content {
    padding-top: 2px;
}

#block-region-footer-one .content img {
    max-width: 200px;
}

#block-region-footer-one .content ul {
    margin: -10px 0 5px 52px;
}

#page-footer .info-name {
    color: #fff;
}

#page-footer .adminsearchform input[type="text"] {
    color: #ddd;
    background-color: #222;
    border-color: #333;
    border-bottom: 1px solid #444;
    border-top: 1px solid #111;
}

.social-links li {
    list-style-type: none;
    float: left;
}
 
.social-links li a i {
    color: #fff;
    width: 1.1em;
    border-radius: 50%;
    font-size: 1.1em;
    text-align: center;
    margin-right: .2em;
    padding: .5em;
    -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}

.fa-facebook {
    background: #3b5998;
}

.fa-linkedin {
    background: #007bb6;
}

.fa-twitter {
    background: #00aced;
}

.fa-google-plus {
    background: #dd4b39;
}

.fa-youtube {
    background: #cd201f;
}

.social-links li a i:hover {
    opacity: .7;
}

#block-region-footer-one #socialNav {
    height: 15px;
    margin: 0 0 0 50px;
}
#socialNav li {
    float: left;
    list-style-type: none;
}

#socialNav a {
    display: block;
    height: 15px;
}

#socialNav span {
    display: none;
}

.social-icons,
.social-icons a:hover {
    background: transparent url([[pix:theme|social-icons]]);
}

.facebook-icon {
    background-position: 0 0;
    width: 15px;
    height: 15px;
}

.facebook-icon a:hover {
    background-position: 0 15px;
    width: 15px;
    height: 15px;
}

.twitter-icon {
    background-position: -16px 0;
    width: 18px;
    height: 15px;
}

.twitter-icon a:hover {
    background-position: -16px 15px;
    width: 17px;
    height: 15px;
}

.linkedin-icon {
    background-position: -32px 0;
    width: 18px;
    height: 15px;
}

.linkedin-icon a:hover {
    background-position: -32px 15px;
    width: 17px;
    height: 15px;
}

.google-icon {
    background-position: -49px 0;
    width: 17px;
    height: 15px;
}

.google-icon a:hover {
    background-position: -49px 15px;
    width: 17px;
    height: 15px;
}

.rssfeed-icon {
    background-position: -66px 0;
    width: 17px;
    height: 15px;
}

.rssfeed-icon a:hover {
    background-position: -66px 15px;
    width: 17px;
    height: 15px;
}

.youtube-icon {
    background-position: -83px 0;
    width: 17px;
    height: 15px;
}

.youtube-icon a:hover {
    background-position: -83px 15px;
    width: 17px;
    height: 15px;
}

.weibo-icon {
    background-position: -100px 0;
    width: 17px;
    height: 15px;
}

.weibo-icon a:hover {
    background-position: -100px 15px;
    width: 17px;
    height: 15px;
}

.youku-icon {
    background-position: -117px 0;
    width: 17px;
    height: 15px;
}

.youku-icon a:hover {
    background-position: -117px 15px;
    width: 17px;
    height: 15px;
}

#page-footer2 {
    font-size: .8em;
    color: #8c8c8c;
    background-color: #222;
    padding-top: 8px;
    padding-bottom: 8px;
}

#page-footer2 #copyright {
    padding-left: 21px;
}

#page-footer2 .logininfo {
    float: right;
    text-align: right;
    padding-right: 21px;
}

#page-footer2 a {
    color: #aaa;
    font-weight: bold;
}

#page-footer2 a:hover,
#page-footer2 a:focus {
    color: #eee;
    text-decoration: none;
}

.dir-rtl .collapsed .tree_item.branch:before {
    content: "\f053";
}

.block_elisadmin .header .title h2:before {
    content: "\f12e";
}

.block_news_items .header .title h2:before {
    content: "\f0a1";
}

.block_navigation .header .title h2:before {
    content: "\f0e8";
}

.block_calendar_upcoming .header .title h2:before,
.block_calendar_month .header .title h2:before {
    content: "\f073";
}

.block_course_list .header .title h2:before {
    content: "\f02d";
}

.block_completionstatus .header .title h2:before,
.block_selfcompletion .header .title h2:before {
    content: "\f0e4";
}

.block_rss_client .header .title h2:before {
    content: "\f09e";
}

.block_blog_menu .header .title h2:before {
    content: "\f02d";
}

.block_quiz_results .header .title h2:before {
    content: "\f080";
}

.block_quiz_navblock .header .title h2:before {
    content: "\f126";
}

.block_glossary_random .header .title h2:before {
    content: "\f0eb";
}

.block_book_toc .header .title h2:before {
    content: "\f02d";
}

.block_participants .header .title h2:before,
.block_online_users .header .title h2:before {
    content: "\f0c0";
}

.block_html .header .title h2:before {
    content: "\f022";
}

.block_section_links .header .title h2:before {
    content: "\f02e";
}

.block_activity_modules .header .title h2:before {
    content: "\f12e";
}

.block_comments .header .title h2:before {
    content: "\f075";
}

.block_settings .header .title h2:before {
    content: "\f085";
}

.block_admin_bookmarks .header .title h2:before {
    content: "\f02e";
}

.block_blog_tags .header .title h2:before,
.block_tags .header .title h2:before {
    content: "\f02c";
}

.block_private_files .header .title h2:before {
    content: "\f114";
}

.block_block_mentees .header .title h2:before {
    content: "\f0c0";
}

.block_messages .header .title h2:before {
    content: "\f0e0";
}

.block_community .header .title h2:before {
    content: "\f0ac";
}

.block_login .header .title h2:before {
    content: "\f023";
}

.block_recent_activity .header .title h2:before {
    content: "\f017";
}

.block_search_forums .header .title h2:before {
    content: "\f0e6";
}

.block_myprofile .header .title h2:before {
    content: "\f007";
}

.block_adminblock .header .title h2:before {
    content: "\f009";
}

.block_feedback .header .title h2:before {
    content: "\f087";
}

.block_flickr .header .title h2:before {
    content: "\f03e";
}

.block_youtube .header .title h2:before {
    content: "\f145";
}

.block_course_badges .header .title h2:before {
    content: "\f091";
}

.block_twitter_search .header .title h2:before {
    content: "\f099";
}

@media (max-width: 979px) {
    .block .minicalendar th {
        font-size: .8em;
    }

    .navbar-fixed-top {
        margin-bottom: 0px;
    }

    .navbar-fixed-top .navbar-inner {
        padding: 0;
    }

    #logo {
        text-align: center;
        display: inline-block;
        width: 100%;
    }

    #logo img {
        float: none;
        width: auto;
        height: auto;
        max-width: 500px;
    }

    .navbar .logininfo {
        float: none;
        font-weight: bold;
        text-align: center;
    }

    #top-header-info {
        display: none;
    }

    #top-header .logininfo {
        float: none;
        text-align: center;
    }

    .lean-slider-slide h1,
    .lean-slider-slide h2 {
        line-height: 1.5;
        background: transparent;
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
        position: static;
        margin: 0;
        padding: 0 0 0 13px;
    }

    .lean-slider-slide h1 {
        font-size: 2.5em;
        color: #f04e29;
        padding-top: 10px;
    }

    .lean-slider-slide h2 {
        font-size: 2em;
    }

    #slider p {
        background-color: transparent;
        top: 0;
        right: 0;
        width: auto;
        display: block;
        position: static;
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
    }

    #page {
        padding: 0 13px;
    }

    #page-footer {
        text-align: center;
    }

    .social-links li {
        float: none;
        display: inline-block;
    }

    .container {
        width: auto;
    }

    [class*="span"],
    .row-fluid [class*="span"] {
        display: block;
        width: 100%;
        float: left;
        margin-left: 0;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }

    .row-fluid .span8.pull-right,
    .row-fluid .span9.pull-right {
        width: 100%;
        float: left;
    }

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

    .block .minicalendar th {
        font-size: .8em;
    }

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

    #logo img {
        max-width: 90%;
    }

    .navbar-fixed-top .navbar-inner {
        padding: 0;
    }

    #action-buttons {
        padding: 0;
    }

    #action-buttons li {
        float: none;
        width: 100%;
        margin-bottom: 0;
        overflow: hidden;
    }

    #action-buttons li i {
        width: 100%;
        height: 75px;
        border-radius: 0;
        text-align: left;
        padding-left: 5%;
    }

    #action-buttons li:first-child i:before {
        top: 10px;
        left: 0;
    }

    #action-buttons li:last-child i:before {
        top: 10px;
    }

    #action-buttons li i:before {
        top: 10px;
    }

    #action-buttons li i span {
        display: inline;
        font-size: 2em;
        text-shadow: none;
        color: #f5f5f5;
    }

    #action-buttons li h2 {
        display: none;
    }

    #page-footer2 {
        text-align: center;
    }

    #page-footer2 .logininfo {
        display: none;
    }

    #page,
    #banner-wrap,
    #action-blocks,
    #page-footer,
    #page-footer2 {
        margin-left: -20px;
        margin-right: -20px;
    }

}