.region-content .block_rlagent .content {
    padding: 0.5em;
}
.block_rlagent .warning {
    float: left;
}
.block_rlagent .error {
	width: 9em;
	float: right;
    color: #A00;
}

.block_rlagent .event {
    padding-top: 1em;
	text-align: center;
}

.block_rlagent .clear,
#page-blocks-rlagent-schedule .clear {
    clear: both;
}

#page-blocks-rlagent-schedule table.flexible {
    width: 80%;
}

#page-blocks-rlagent-schedule div.event {
    padding: 10px;
}

#page-blocks-rlagent-schedule div.event div.title {
    font-size: 125%;
    line-height: 125%;
    font-weight: bolder;
}

#page-blocks-rlagent-schedule div.event div.heading {
    float: left;
    width: 10em;
}

#page-blocks-rlagent-schedule div.event div.value {
    float: left;
}

#page-blocks-rlagent-schedule div.event div.change {
    float: right;
}

#page-blocks-rlagent-schedule div.event div.status {
    float: right;
    padding-left: 1em;
}

#page-blocks-rlagent-schedule div.event div.log {
    height: 12em;
    width: 80%;
    float: left;
    white-space: pre;
    background-color: #F2F2F2;
    border: solid 1px #999999;
    padding: 1em;
    overflow: auto;
}

#page-blocks-rlagent-schedule #popup {
    margin-top: 8em;
    padding: 1em;
}

#page-blocks-rlagent-schedule #popup .mform .fitem .fitemtitle {
    width: 20%;
}

#page-blocks-rlagent-schedule #popup .mform .fitem .felement {
    margin-left: 21%;
    width: 75%;
}