.region-content .block_rlagent .content {
    padding: 0.5em;
}
.block_rlagent .warning {
    float: left;
}
.block_rlagent .error {
	width: 9em;
	float: right;
    color: #A00;
}

.block_rlagent .event {
    padding-top: 1em;
	text-align: center;
}

.block_rlagent .clear,
#page-blocks-rlagent-schedule .clear {
    clear: both;
}

#page-blocks-rlagent-schedule table.flexible {
    width: 80%;
    margin: 0 auto;
}

#page-blocks-rlagent-schedule div.event {
    padding: 10px;
}

#page-blocks-rlagent-schedule div.event div.title {
    font-size: 125%;
    line-height: 125%;
    font-weight: bolder;
}

#page-blocks-rlagent-schedule div.event div.heading {
    float: left;
    width: 10em;
}

#page-blocks-rlagent-schedule div.event div.value {
    float: left;
}

#page-blocks-rlagent-schedule div.event div.change {
    float: right;
}

#page-blocks-rlagent-schedule div.event div.status {
    float: right;
    padding-left: 1em;
}

#page-blocks-rlagent-schedule div.event div.log {
    height: 12em;
    width: 80%;
    float: left;
    white-space: pre;
    background-color: #F2F2F2;
    border: solid 1px #999999;
    padding: 1em;
    overflow: auto;
}

#page-blocks-rlagent-schedule #popup {
    margin-top: 8em;
    padding: 1em;
}

#page-blocks-rlagent-schedule #popup .mform .fitem .fitemtitle {
    width: 20%;
}

#page-blocks-rlagent-schedule #popup .mform .fitem .felement {
    margin-left: 21%;
    width: 75%;
}

#page-blocks-rlagent-schedule #popup .close {
	text-align: center;
}

/** Local Moodle Addon Self Service styles **/
.navbar {
    margin-bottom: 20px;
    display: inline;
}

.container.header {
    margin-top: 40px;
    padding: 30px;
}

.refine-search .input-group.search {
    width: 100%;
}

.refine-search label {
    margin-bottom: 0px;
}

.refine-search label:first-of-type {
    margin-top: 5px;
}

.refine-search .input-group {
    margin-top: 0px;
}

.plugin img {
    background: none;
}

.plugin .avg-rating {
    text-align: center;
    margin-top: 5px;
}

.plugin .choose {
    display: block;
    float: right;
    margin-left: 10px;
}

.plugin .media-body p {
    margin-top: 5px;
}

.plugin .reviews {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.plugin > ul.media-list > li.media {
    width: 70%;
}

.plugin ul.media-list ul.media-list {
    margin: 20px 0 0 0;
}

.plugin .media-list.reviews {
    display: none;
}

.sort-by {
    display:block;
    margin: 0 auto 10px auto;
}

.sort-by .input-prepend input {
    width: 100%;
}

.rate-plugin p {
    margin: 0 0 5px 0;
}

.rate-plugin .fa {
    font-size: 18px;
}

.media-body .rate-plugin .fa {
    margin-right: 2px;
}

.choose button {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.plugin-type {
    font-size: 36px;
    margin: 5px;
}

.plugin-type::before {
    margin-right: 5px;
}

.media-body .fa {
    margin-right: 6px;
}

.media-body .fa-check {
    color: green;
}

.media-body .fa-warning {
    color: orange;
}

.choose .fa-trash-o {
    font-weight: bold;
}

.avg-rating h5 {
    margin-bottom: 5px;
}

.avg-rating .fa {
    font-size: 18px;
}

/* Testing plugin type icons */
.plugin-icon .fa {
    font-size: 36px;
    margin: 5px;
}

.plugin-icon .fa::before {
    margin-right: 5px;
}

.plugin-select .row {
    margin-left: 0;
}

.site-update {
    margin: 10px;
}

/* site update/sync with production prior to update/install */
.site-update-spinner i.fa-spinner,
.site-update-spinner h4 {
    display: inline-block;
}

.site-update-spinner .fa-spinner {
    margin-left: 7px;
}

@-webkit-keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}

/* End testing plugin type icons */

#region-main {
    padding: 0 10px;
}

.labels-box {
    clear: both;
    margin-bottom: 10px;
}

.labels-box h4,
.labels-box .labels {
    margin-top: 0;
    display: inline;
}

.labels-box .labels .fa {
    margin-left: 5px;
    margin-right: -3px;
}

.plugin-select .input-prepend,
.plugin-select .input-append {
    margin-bottom: 0;
}

.view-apply-filters-box {
    margin-bottom: 10px;
}

.view-apply-filters-box .btn i.fa {
    margin-right: 5px;
}

.labels span.badge {
    margin: 0 0 2px 3px;
}

/* Actions Dropdown */
.plugin-actions li.actions i.fa {
    margin: 0 5px 0 3px;
}

.plugin-actions li.actions i.fa-times {
    margin-left: 15px;
}

.dropdown-menu.plugin-actions > li > a {
    padding: 3px 10px;
}

.notify-email {
    font-weight: bold;
}

.update-controls {
    margin-top: 10px;
}

.update-controls button {
    margin-right: 5px;
}

.update-controls i.fa {
    margin-right: 3px;
}
